@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #151713;
}

body {
    background: #fcfcfc url(img/background.jpg) no-repeat;
    background-size: cover;
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
}

/* ---- Typography ---- */
h1,
h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

h3 {
    padding-bottom: .5em;
    font-size: 1rem;
}

/* ---- Layout ---- */
form {
    display: flex;
    justify-content: space-around;
}

input[type=text],
input[type=submit] {
    margin: 1.5em 0 1em;
    padding: 1em;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #FFF;
}

input[type=text] {
    width: 90%;
}

input[type=submit] {
    width: 8%;
    cursor: pointer;
    transition: .3s ease;
}

input[type=submit]:hover {
    background: #d0dfbe;
}