@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #151713;
}

body {
    background: #fcfcfc url(img/background.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
}

/* ---- Typography ---- */
h1,
h2 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

h2 {
    text-align: left;
    font-size: 1.3rem;
    padding: 1em 0;
}

h3 {
    font-size: .9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 1em 0 0;
}

/* ---- Layout ---- */
form {
    display: flex;
    justify-content: space-around;
}

input[type=text],
input[type=submit] {
    margin: 1.5em 0 1em;
    padding: 1em;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #FFF;
}

input[type=text] {
    width: 90%;
}

input[type=submit] {
    width: 8%;
    cursor: pointer;
    transition: .3s ease;
}

input[type=submit]:hover {
    background: #d0dfbe;
}

/* Cocktail Container */
.app {
    width: 70%;
    max-width: 500px;
    margin: 30px auto 0;
    padding: 1em;
    border-radius: 10px;
    background: rgba(235,235,235,0.7);
    text-align: center;
}

.cocktail-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    justify-items: center;
}

.cocktail-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    padding: 1em .5em;
    width: 225px;
    background: #FFF;
    -webkit-box-shadow: -2px 2px 10px 0px rgba(204,204,204,1);
    -moz-box-shadow: -2px 2px 10px 0px rgba(204,204,204,1);
    box-shadow: -2px 2px 10px 0px rgba(204,204,204,1);
}

.cocktail-img {
    border-radius: 5px;
    width: 200px;
    -webkit-box-shadow: -2px 2px 10px 0px rgba(204,204,204,1);
    -moz-box-shadow: -2px 2px 10px 0px rgba(204,204,204,1);
    box-shadow: -2px 2px 10px 0px rgba(204,204,204,1);
}